.region { width:100%; }
.slot {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.contentSegment { display:contents; }
.mobile { display:none; }
.isolatedFrame { border:0; display:block; min-height:250px; width:100%; }

@media (max-width:768px) {
  .desktop { display:none; }
  .mobile { display:flex; }
}
